/* ======== FONTS ========= */
@font-face {
    font-family: "Adieu-Black";
    src: url(assets/fonts/Adieu/Adieu-Black.woff), url(assets/fonts/Adieu/Adieu-Black.woff2), url(assets/fonts/Adieu/Adieu-Black.otf);
  }
  @font-face {
    font-family: "Adieu-Bold";
    src: url(assets/fonts/Adieu/Adieu-Bold.woff), url(assets/fonts/Adieu/Adieu-Bold.woff2), url(/assets/fonts/Adieu/Adieu-Bold.otf);
  }
  @font-face {
    font-family: "Adieu-Regular";
    src: url(assets/fonts/Adieu/Adieu-Regular.woff), url(assets/fonts/Adieu/Adieu-Regular.woff2), url(assets/fonts/Adieu/Adieu-Regular.otf);
  }
  @font-face {
    font-family: "Adieu-Light";
    src: url(assets/fonts/Adieu/Adieu-Light.woff), url(assets/fonts/Adieu/Adieu-Light.woff2), url(assets/fonts/Adieu/Adieu-Light.otf);
  }
  :root {
    --font-primary: "Adieu-Bold";
    --font-secondary: "Adieu-Regular";
    --max-width: 1140px;
    /* Spacing variables */
    --s1: 8px;
    --s2: 16px;
    --s3: 24px;
    --s4: 32px;
    --s5: 40px;
    --s6: 48px;
    --s7: 56px;
    --lg: 80px;
    --xl: 100px;
    /* Font variables */
    --f-sm: 18px;
    --f-md: 24px;
    --f-h4: 40px;
    --f-h3: 74px;
    --f-h2: 97px;
    --f-h1: 110px;
    /* Color variables */
    --color-primary: #1B1B1B;
    --color-secondary: #fff;
    --bg-primary: #fff;
    --bg-secondary: #171717;
  }
  
  .content {
    max-width: var(--max-width);
    margin: 0 auto;
  }

  .page_container {
    display: flex;
    flex-direction: column;
    gap: var(--s7);
  }

  .adieu_black {
    font-family: "Adieu-Black";
  }
  .adieu_bold {
    font-family: "Adieu-Bold";
  }
  .adieu_regular {
    font-family: "Adieu-Regular";
  }
  .adieu_light {
    font-family: "Adieu-Light";
  }
  p {
    font-size: var(--f-sm);
  }
  img {
    width: 100%;
    height: auto;
  }
  
  .primary_button {
    text-decoration: none;
    background-color: var(--bg-secondary);
    border: 1px solid var(--color-secondary);
    border-radius: 50px;
    padding: var(--s2) var(--s3);
    font-size: 22px;
  }

  /* COMMON SECTIONS */
  .section_secondary {
    width: 100vw;
    background-color: var(--bg-secondary);
    padding: var(--lg) 0;
    margin-bottom: var(--lg);
  }
  .section_secondary .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: var(--s5);
    color: var(--color-secondary);
    margin: var(--s6) auto;
  }
  .section_secondary .sp_header{
    font-size: var(--f-h3);
  }
  .section_secondary .sp_text{
    font-size: var(--f-md);
  }
 
  